body{
    padding:0;
    margin:0;
    background-color:#1177cc;
    color:white;

}
header{
    background-color:#B67A8D;
}

footer{
    background-color:#B67A8D;
    display:flex;
    justify-content:flex-end;
    color: black;
    height:40px;
    
}

article
{
    margin-left:100px;
    margin-right:100px;
}
nav ul {
    list-style: none;
    padding:0;
}

.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav a
{
    color: black;
}

nav a:visited
{
    color: white;
}

    
#pfp
{
    display: block;
    float:none;   
    padding:0px;
    align-content:center;
    margin-left:auto;
    margin-right:auto;
}

/*Reactive Design*/
@media (max-width: 600px) {
    
    .nav-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
    nav a {
        width: 150px;

    }
    
    article
    {
        margin-left:50px;
        margin-right:50px;
    }
    
    footer{
        background-color:#B67A8D;
        display:flex;
        justify-content:center;
        color: black;
        height:40px;
    }
}

@media (max-width:400px) {
    .nav-list{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        
    }

    nav a {
        width: 100px;
    }
    
    
    footer{
        background-color:#B67A8D;
        display:flex;
        text-align:center;
        color: black;
        justify-content:center;
        height:40px;
    }
    
    article
    {
        margin-left:25px;
        margin-right:25px;
    }
}


h1
{
    text-align:center;
}



/*Contact Form*/
form
{
    background-color:#B67A8D;
    color: black;
    width:50%;
    
}

label
{
    font-weight:bold;
}

#contactArticle
{
    display: flex;
    justify-content: center;
}

/*Projects*/

.summary
{
    display: flex;
}

p[data-name = "project"]
{
    padding-left: 10px;
}

p[data-name = "alt"]
{
    color:black;
    background-color:#B67A8D;
}
.item{
    background-color: white;
    padding: 15px;
    border-radius: 4px;
    color:black;
    width = 50%;
}

h1[data-name="project"]
{
    text-align:center;
    background-color:#B67A8D;
    color:black;
    
}

h2[data-name="project"]
{
    text-align:center;
    background-color:#B67A8D;
    color:black;
    margin-left:0;
    
}

.projects{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}




/*Settings*/

.fontSection{
    display: flex;
    justify-content:center;
    font-family: opendyslexic;
}


@font-face{
    font-family: opendyslexic;
    src: url(./fonts/OpenDyslexic-Regular.otf)
}
@font-face{
    font-family: opendyslexic;
    src: url(./fonts/OpenDyslexic-Bold.otf);
    font-weight: bold;
}
/*
@font-face{
    font-family: opendyslexic;
    src: url(/fonts/OpenDyslexic-Italic.otf);
    font-weight: italic;
}
*/

a[name="externalLink"]
{
    color:white;
}


/*Resume*/

td{
    max-width:250px;
    padding:10px;
}

table, th, td
{
    border: 3px solid black;
    border-collapse:collapse;
}
.resume 
{
    display:flex;
    justify-content:center;
}


/*Class Projects*/

form [name = "hwForm"]
{
    background-color:#B67A8D;
    color: black;
    width:50%;
}
.hwForm
{
    display: flex;
    justify-content: center;
}